---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">

    {siteConfig.subtitle && <p class="text-sm leading-tight mt-1">{siteConfig.subtitle}</p>}
</header>
