---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../assets/icons/arrow-right.svg';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description } = project.data;
const TitleTag = headingLevel;
---

<a class:list={['group flex items-start justify-between gap-8', className]} href={`/projects/${project.id}/`}>
    <div class="grow">
        <TitleTag
            class="font-serif text-xl leading-tight font-medium group-hover:underline group-hover:decoration-dashed group-hover:decoration-1 group-hover:underline-offset-4 sm:text-2xl"
        >
            {title}
        </TitleTag>
        {description && <div class="mt-1 text-sm leading-normal">{description}</div>}
    </div>
    <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
        View Project <ArrowRight class="h-4 w-4 fill-current" />
    </div>
</a>
