---

---

<button id="theme-toggle" class="-mr-2 flex h-8 w-8 cursor-pointer items-center justify-center" aria-label="Change color scheme">
    <svg class="h-4 w-4 fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8" cy="8" r="8"></circle>
    </svg>
</button>
